/* Common 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
}



/* Utility 
*/

.container {
    width: 1420px;
    height: 700px;
    margin: auto;
    /* background-color: rgba(165, 42, 42, 0.452); */
}



/****** 
Header
******/

/* Jumbo 
*/

.jumbo_img {
    height: 700px;
    background-image: url("../img/jumbo.png");
    background-size:cover;
    background-position: center;
}

/* Navbar
*/


.navbar {
    padding: 20px 30px;

}

.navbar::after{
    content: "";
    clear: both;
    display: table;
}

.logo {
    width: 20%;
    float: left;
    line-height: 80px;
    vertical-align: middle;
}

.menu {
    float: left;
    width: 60%;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

.menu > a {
    padding: 0 15px;
}


.button {
    float: left;
    width: 20%;
    line-height: 50px;
    vertical-align: middle;
    position: relative;
}


.accedi {
    border: none;
    padding: 10px 12px;
    border-radius: 20px;
    font-size: 14px;
    position: absolute;
    top: 8px;
    right: 0;
}

/* jumbo_text
*/

.jumbo_text {
    width: 850px;
    padding: 50px;
    margin: auto;
    text-align: center;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 60px;
    color: white;
}

.jumbo_text>p {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    line-height: 30px;
}


.header-button::after{
    content: "";
    display: table;
    clear: both;
}


.header-button > input {
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 10px;
}

.header-button-right {
    color: white;
    background-color: black;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    
}

.header-button-left {
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

/********
Main
*********/

.bg_gray {
    background-color: #F6F6F6;
    height: 100%;
} 

.item {
    max-width: 100%;
    max-height: 100%;
}

/* 3 section
*/

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
    height: 700px;
    padding: 0 30px;
    padding: 150px;
}

.col-lg {
    width: 60%;
    height: 700px;
    float: left;
    /* background-color: red; */

}

.col-sm {
    width: 40%;
    height: 700px;
    float: left;
    /* background-color: antiquewhite; */
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 30px 50px;
}

h2 {
    font-size: 45px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.col-sm>p {
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
}

/* Colonna unica
*/


.container-colonna {
    width: 1420px;
    height: 1200px;
    margin: auto;
}



.row-colonna {
        width: 100%;
        height: 1200px;
        padding: 0 30px;
        padding: 150px;
        /* background-color: blue; */
    }

.colonna {
    width: 100%;
    height: 100%;
    float: left;
    /* background-color: red; */
    position: relative;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;

}
 .colonna > h2 {
    font-size: 50px;
    text-align: center;
 }

.colonna > p {
    font-size: 20px;
    margin: 30px 60px;
    line-height: 30px;
    text-align: center; 
}

.colonna > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CTA {
    padding: 50px 30px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}

.CTA-button {
    border: none;
    color: white;
    background-color: #5865f2a9;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 10px;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

h3 {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 30px;
   
}





/********
Footer
*********/

.col-sm-footer > h3 {
    color: #5865F2;
    padding: 80px 50px 20px;
}
.bg_darkgray {
    background-color: #22272A;
    height: 100%;
}

.row-footer::after{
    content: "";
    display: table;
    clear: both;
}

.row-footer {
     background-color: black;
    height: 500px;
    width: ;
}

.col-sm-footer {
    width: 30%;
    height: 300px;
    float: left;
     /* background-color:green; */
}

.col-lg-footer {
    width: 70%;
    height: 300px;
    float: left;
    background-color: beige;
}



.row-footer-2 {
    background-color: yellow;
    height: 100px;
}

.row-footer-2::after{
    content: "";
    display: table;
    clear: both;
}


.col-footer {
    width: 50%;
    height: 100px;
    float: left;
    background-color: orange;
}

.choose_language{
    height: 16px;
    padding: 0 50px;
   
}

.choose_language  > img {
    width: 24px;
    height: 100%;
    line-height: 18px;

}

.language {
    font-size: 14px;
    color: white;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h5 {
    font-size: 20px ;
    color: #5865F2;
    padding: 80px 50px 0;
    line-height: 24px

}

.col-1 > a {
    
    padding: 0 50px;
    display: block;
    line-height: 24px
}






